@media screen and (max-width: 576px) {
    .navbar {
        margin: 20px;
    }
    .banner {
        margin: 20px;
        background-size: cover;
        height: 100%;
        background-position: center;
    }
    .banner-content {
        margin-top: 50px;
    }
    .menu {
        visibility: visible;
    }
    .nav-item-section {
        display: none;
    }

    .banner-heading {
        font-size: 35px;
    }

    .banner-p {
        font-size: 16px;
        margin: 0px 30px 30px 30px
    }


    .banner-style .where {
        padding: 25px 0px 25px 0px;
        width: 100%;
        text-align: left;
    }

    .banner-style .find-now {
        padding: 25px 28.4px 25px 28.4px;
    }

    .banner-style select {
        padding: 25px 50px 25px 16px;
        width: 100%;
    }

    .banner-style {
        display: flex;
        padding: 25px;
        flex-direction: column;
        margin: 30px;
    }
}