@import url('https://fonts.googleapis.com/css2?family=Mulish:ital,wght@0,200..1000;1,200..1000&display=swap');


/* Common Shared CSS */

* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
    font-family: "Mulish", sans-serif;
}

body {}

/* Header Related CSS */

.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 30px 100px;
}

.logo-section {
    display: flex;
    align-items: center;
    gap: 10px;
}

.logo-name {
    color: #131318;
    font-size: 36px;
    font-weight: 800;
}

.travel {
    color: #FF5400;
}


.menu {
    font-size: 30px;
    visibility: hidden;
}

.nav-items {
    display: flex;
}

.nav-items li {
    margin-right: 40px;

}

.nav-items li a {
    color: #424247;
    text-align: center;
    font-size: 18px;
    font-weight: 700;

}

.nav-items .home {
    color: #FF5400;
}

.nav-items .contact {
    margin-right: -40px;
}

/* Banner related CSS */

.banner-container {
    margin-bottom: 100px;
}

.banner {
    background: linear-gradient(180deg, rgba(19, 19, 24, 0.80) 0%, rgba(19, 19, 24, 0.00) 100%), url("Images/Group.png");
    background-repeat: no-repeat;
    background-position: 100% 100%;
    height: 500px;
    margin: 0 100px;
    border-radius: 16px;
    text-align: center;
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-size: cover;
}


.banner-heading {
    color: #FFF;
    font-size: 64px;
    font-weight: 800;
    margin-bottom: 30px;
}

.banner-p {
    color: #FFF;
    text-align: center;
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    margin-bottom: 40px;
}

.banner-style {
    display: flex;
    justify-content: space-between;
    padding: 20px;
    border-radius: 8px;
    background: rgba(255, 255, 255, 0.30);
    gap: 20px;
}

.banner-style .where {
    padding: 16px 50px 16px 16px;
    width: 80px;
    border-radius: 8px;
    background-color: #FFF;
    color: #424247;
}

.banner-style select {
    width: 150px;
    border-radius: 8px;
    padding: 16px 0px 16px 16px;
    background-color: #FFF;
}

.banner-style .find-now {
    padding: 16px 28.4px 16px 28.4px;
    background: #FF5400;
    color: #FFF;
    border-radius: 8px;
    font-weight: bold;
}


/* populer related CSS */

.populer-container {
    display: flex;
    margin: 100px;
    gap: 50px;
}

.populer-content-heading {
    color: #131318;
    text-align: center;
    font-size: 40px;
    font-weight: 800;
    margin-bottom: 30px;
    text-align: left;
}

.populer-content-p {
    color: rgba(19, 19, 24, 0.70);
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    margin-bottom: 20px;
}

.populer-content ul li {
    list-style: disc;
    margin-bottom: 10px;
    color: rgba(19, 19, 24, 0.70);
    font-size: 14px;
    font-weight: 400;
    line-height: 24px;
}

.populer-content ul {
    margin-bottom: 20px;
}

.populer-content .btn {
    color: #FFF;
    text-align: center;
    font-size: 20px;
    font-weight: 800;
    border-radius: 8px;
    background: #FF5400;
    border: none;
    padding: 15px;
}

/* destination related CSS */

.destination-content {
    text-align: center;
    margin: 0 100px;
}

.destination-heading {
    margin-bottom: 25px;
    color: #131318;
    text-align: center;
    font-size: 40px;
    font-weight: 800;
}

.destination-p {
    margin-bottom: 50px;
    color: rgba(19, 19, 24, 0.70);
    text-align: center;
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
}

.picture-sec1 {
    display: flex;
    gap: 20px;
    margin-bottom: 20px;
}

.maldives-pic img {
    width: 100%;
    height: 100%;
}

.indonessia-pic img {
    width: 100%;
    height: 100%;
}

.srilanka-pic img {
    width: 100%;
    height: 100%;
}

.north-america-pic img {
    width: 100%;
    height: 100%;
}

.kashmir-pic img {
    width: 100%;
    height: 100%;
}

.bangladesh-pic img {
    width: 100%;
    height: 100%;
}

.bandarban-pic img {
    width: 100%;
    height: 100%;
}

.pic-content {
    position: relative;
    bottom: 165px;
    color: #FFF;
    text-align: center;
    font-size: 28px;
    font-weight: 800;
    border-radius: 16px;
}

/* why related CSS */

.why-container {
    margin: 100px 100px;
}

.why-content {
    text-align: center;
    margin-top: 50px;
}

.why-heading {
    color: #131318;
    text-align: center;
    font-size: 40px;
    font-weight: 800;
    margin-bottom: 20px;
}

.why-p {
    color: rgba(19, 19, 24, 0.70);
    text-align: center;
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    margin-bottom: 30px;
}

.hotel-container {
    display: flex;
    gap: 25px;
    margin-bottom: 25px;
}

.hotel {
    border-radius: 16px;
    border: 1px solid rgba(251, 181, 99, 0.20);
    background: rgba(251, 181, 99, 0.05);
    padding: 32px 50px 32px 32px;
}

.icon1 {
    margin-bottom: 32px;
}

.hotel-heading {
    margin-bottom: 25px;
    color: #131318;
    font-size: 24px;
    font-weight: 800;
}

.hotel-p {
    color: #5A5A5D;
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
}

.service {
    border-radius: 16px;
    border: 1px solid rgba(41, 206, 246, 0.20);
    background: rgba(41, 206, 246, 0.05);
    padding: 32px 50px 32px 32px;
}

.price {
    border-radius: 16px;
    border: 1px solid rgba(233, 68, 68, 0.20);
    background: rgba(233, 68, 68, 0.05);
    padding: 32px 50px 32px 32px;
    margin: 0 250px;
}

/* deals related CSS */

.deals-container {
    margin: 0 100px;
    text-align: center;
}

.deals-heading {
    color: #131318;
    text-align: center;
    font-size: 40px;
    font-weight: 800;
    margin-bottom: 25px;
}

.deals-p {
    color: rgba(19, 19, 24, 0.70);
    text-align: center;
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    margin-bottom: 50px;
}

.deals-banner {
    background-image: url("Images/Group\ 39.png");
    margin-bottom: 50px;
}

.deals-banners {
    background-image: url("Images/Group\ 40.png");
    margin-bottom: 50px;
}

.book-container {
    display: flex;
    justify-content: right;
}

.books-container {
    display: flex;
    justify-content: left;
}


.book-content {
    border-radius: 16px;
    border: 2px solid #FFF;
    background: rgba(255, 255, 255, 0.80);
    backdrop-filter: blur(2.5px);
    width: 500px;
    height: 300px;
    margin: 100px;
}

/* newslatter related CSS */
.newsletter-container {
    display: flex;
    margin: 0 100px;
    gap: 35px;
    margin-bottom: 100px;
}

.newsletter-content {
    border-radius: 16px;
    border: 2px solid #FF5400;
    padding: 40px;
}

.newsletter-heading {
    color: #131318;
    font-size: 24px;
    font-weight: 800;
    margin-bottom: 30px;
}

.newsletter-p {
    color: #5A5A5D;
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
}

hr {
    margin: 25px 0;
}

.newsletter-content .input {
    border-radius: 8px;
    background: rgba(19, 19, 24, 0.05);
    color: rgba(19, 19, 24, 0.30);
    font-weight: 400;
    padding: 16px 0 16px 16px;
    margin-bottom: 20px;
    width: 100%;
    border: none;
    text-align: left;
}

.btn1 {
    border-radius: 8px;
    width: 100%;
    padding: 16px 0 16px 16px;
    background-color: #FF5400;
    color: #FFF;
    text-align: center;
    font-size: 20px;
    font-weight: 800;
    border: none;
}

.travel-btn {
    background-color: #FF5400;
    width: 150px;
    text-align: center;
    padding: 20px 25px;
    position: absolute;
    top: 320px;
    right: 3px;
    border-radius: 16px;
    transform: rotate(-30deg);
}

.newsletter-pic-sec {
    position: relative;
}

.newsletter-pic-sec img {
    width: 100%;
    height: 100%;
}

/* booking related CSS */

.booking-container {
    margin: 100px 100px;
}

.booking-content {
    text-align: center;
}

.booking-content h1 {
    color: #413960;
    font-size: 45px;
    font-weight: 700;
    margin-bottom: 80px;
}

.booking-card img {
    width: 300px;
    height: 300px;
}

.booking-card-container {
    display: flex;
    justify-content: space-between;
    gap: 30px;
    margin-top: 80px;
}

.btn-3 {
    color: #FFF;
    text-align: center;
    font-size: 16px;
    font-weight: 800;
    border-radius: 8px;
    background: #FF5400;
    border: none;
    padding: 15px;
}

.booking-card {
    border-radius: 18px;
    background: #FFF;
    box-shadow: 0px 10px 40px 0px rgba(0, 0, 0, 0.30);
    padding: 15px;
}
.booking-content h1 {
    margin-bottom: 20px;
    color: #413960;
}